* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: inline;
    padding: 1em;
    background: red;
}

.mycolor {
    background: red;

    background: pink;
}

span {
    display: block;
    background: green;
}

li:last-child {
    color: green;
    font-size: 2rem;
}