* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid; */
}

.box {
    width: 7em;
    height: 7em;
    background: red;
}



nav {
    min-width: 12em;
    display: flex;
    padding: 0.3em;
    background: lightblue;
    justify-content: space-between;
    margin-bottom: 1em;
    font-size: 1.5rem;
}

nav div img {
    width: 3em;
    margin: 0 0.3em; 
    border-radius: 100%;
    border: 4px solid blue;
}

ul {
    display: none;
    /* display: flex; */
    /* visibility: hidden; */

    list-style: none;
    gap: 1em;
    margin-right: 1em;
    line-height: 3em;
    text-shadow: 2px 2px 6px black;
}

.hamburger { 
    display: flex;
    flex-direction: column;
    justify-content: center;
     line-height: 3em;
     /* border: 2px solid yellow; */
}

.line {
    width: 2em;
    height: 6px;
    margin: 0 0.8em 0.3em 0;
    border-radius: 16px;
    background: black;
}



.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}


.container p {
    font-size: clamp(0.7rem, 3vw, 1.5rem);
}

.card-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    gap: 1em;
}

.card { 
    /* border: 5px solid green; */
    margin: 1em auto;
}

.card img { 
    width: 14em;
    height: 16em; 
    object-fit: cover;   
    border-radius: 0.5em;
}

footer {
    font-size: 1.5rem;
    background: lightblue;
    text-shadow: 2px 2px 6px black;
    text-align: center;
    padding: 1em;
}

@media screen and (min-width: 680px) {
    
    img:hover {
        box-shadow: 4px 4px 10px black;
        transform: scale(1.1);
        transition: all 0.3s ease;
    }

    h1, footer {
        text-align: left;
        color: green;
    }

    .hamburger {
        display: none;
    }

    ul {
        display: flex;
    }
}