* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid; */
}

nav {
    display: flex;
    padding: 1em;
    background: lightblue;
    justify-content: space-between;
    margin-bottom: 1em;
}

ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container p {
    font-size: clamp(0.7rem, 3vw, 1.5rem);
}

.card-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    gap: 1em;
}

.card { 
    /* border: 5px solid green; */
    margin: 1em auto;
}

.card img { 
    width: 14em;
    height: 16em; 
    object-fit: cover;   
    border-radius: 0.5em;
}